.TopSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em 4em 4em 4em;
  font-size: 1.3em;
}

.TopTitle {
  font-size: 2em;
  padding: 0 0 2em 2em;
  position: relative;
}

.TopTitle::before {
  position: absolute;
  content: "";
  border-bottom: 8px solid #ff4d5a;
  width: 10em;
  top: 3rem;
}

.topImg {
  width: 12em;
  border-radius: 50%;
}

.introTop {
  font-size: 1.5em;
  padding: 2em 2em 2em 2em;
  text-align: center;
  color: #ff4d5a;
}

.topPara {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  gap: 2em;
}

.topList {
  padding: 3em 3em;
}

.classementSection {
  display: flex;
  flex-direction: row;
  gap: 3em;
}
.filmImage {
  width: 10em;

  object-fit: contain;
}
.topArticle {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.filmTitle {
  color: #ff4d5a;
}

@media (max-width: 800px) {
  .TopTitle::before {
    display: none;
  }
  .classementSection {
    display: flex;
    flex-direction: column;
  }
}
