.registerSection {
  display: flex;
  flex-direction: column;
  padding-top: 3em;
}

.registerTitle {
  position: relative;
  text-align: center;
  margin-bottom: 3em;
}
.registerTitle::before {
  position: absolute;
  content: "";
  border-bottom: 8px solid #ff4d5a;
  width: 9em;
  transform: translateX(-10%);
  top: 2rem;
}
