.adminMovieSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adminMovieTitle {
  color: var(--primary-color);
  font-size: 4em;
}

.adminMovieCard {
  display: flex;
  flex-direction: row;
  margin-top: 5em;
  gap: 7em;
}

.MovieAll,
.MovieAdd {
  color: var(--primary-color);
  font-size: 3em;
  border: 3px solid var(--primary-color);
  padding: 1em 1em;
  cursor: pointer;
}

.MovieAll:hover,
.MovieAdd:hover {
  color: black;
  border-color: black;
}

.goBackBtn {
  margin-top: 10em;
  width: 10em;
  height: 3em;
  border: none;
  background-color: var(--primary-color);
  cursor: pointer;
}

.goBackBtn:hover {
  background-color: black;
}
